h1.title {
  border-bottom:1px solid rgba(34,36,38,.15);
  text-align: center;
  font-size: 2em;
  padding: 0 10px 10px 10px;
}

h2.subtitle{
  font-size: 1em;
  text-align: right;
  margin:0 20px 20px 0;
}

.memo__content > table {
  margin-left: 20px;
}

span.comment {
  margin-left: 20px;
  color: rgb(105, 105, 105);
}

.chords > td {
  line-height: 1em;
  padding: 15px 0 0px 0 ;
  color: rgb(78, 109, 234);
  font-weight: bold;
  
}

td {
  line-height: 2.2em;
}

tr > td {
  font-size: 1.1em;
}
